.button{
color: var(--color-Opposite-primary);
    padding: 0.5rem;
    cursor: pointer;

    &.solid{
        background-color: var(--color-primary);
        border: none;
    }

    &.outlined{
        background-color: var(--color-surface);
        border: 1px solid var(--color-primary) ;
    }

    &.rectangel{
        border-radius: 0.25rem;
    }

    &.circle{
        border-radius: 999rem;
    }

    &.small{
        block-size: 2rem;
    }

    &.medium{
        block-size: 2.25rem;

    }

    &.large{
        block-size: 3rem;

    }


}