.create {
  position: fixed;
  inset-block-end: 1rem;
  inset-inline-end: 15rem;
}
.dialog {
  inline-size: 100%;
  max-inline-size: 30rem;

  margin: auto;

  border: none;
  border-radius: 0.75rem;

  &::backdrop {
    backdrop-filter: blur(2px);
  }

  .content {
    padding: 1rem;
    display: grid;
    gap: 1.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .action {
      display: flex;
      justify-content: space-between;
    }
  }
}
