.text-area {
  font-size: 1.25rem;
  line-height: 1.5rem;

  resize: vertical;
  min-block-size: 3rem;
  max-block-size: 12rem;

  padding: 0.5rem;

  border: 2px solid var(--color--gold-yellow);
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }
}
