.toolbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  .actions{
    display: flex;
    gap: 1rem;
  }

  .input {
    flex: 1;
  }
}

@media screen and (max-width: 750px) {
  .toolbar{
    display: flex;
    flex-direction: column;
  }
}
