.select {
  position: relative;

  border-radius: 5px;

  select {
    appearance: none;

    block-size: 100%;
    inline-size: 100%;

    padding: 0.5rem;
    padding-inline-end: calc(0.5rem + 1ch + 0.5rem);

    border: none;
    border-radius: inherit;

    font-size: 1rem;
    line-height: 1.375;

    option {
      background-color: var(--color--gold-yellow);
      color: var(--colo-black);

      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  &::after {
    content: "▼";
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0.5rem;

    transform: translateY(-50%);

    font-size: 0.75em;

    pointer-events: none;
  }

  &:focus-within {
    outline: 2px solid var(--color--gold-yellow);
  }

  &.solid {
    select {
      background-color: var(--color--gold-yellow);
      color: var(--color--text);
    }

    &::after {
      color: var(--color--text);
    }
  }

  &.outlined {
    select {
      background-color: transparent;
      color: var(--color--text);

      border: 2px solid var(--color--gold-yellow);
    }

    &::after {
      color: var(--color--text);
    }
  }
}
