:root {
    --colo-black: hsl(0, 0%, 15%);
    --color-withe: hsl(200 , 0% , 94% );

    --color-surface: var(--color-withe);
    --color-surface-elevated : hsl(0 , 0% , 97% );

    --color-text: var(--colo-black);

    --color-primary : hsl(210, 94%, 43%);
    --color-primary-fade : hsl(210, 66%, 66%);
    --color-primary-hover : hsl(240, 85%, 30%);

    --color-Opposite-primary : hsl(230, 0%, 100%);

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 5px 2px -1px rgb(0 0 0 / 0.1);

    &[data-theme="dark"] {
        --color-surface: hsl(0, 0%, 15%);
        --color-text: hsl(0, 0%, 97%);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: "Vazirmatn", system-ui;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font: inherit;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--color-surface);
    color: var(--color-text);

    inline-size: min(80rem, 100% - 2rem);

    margin-inline: auto;

    font-size: var(--fz-400);
}

