.acttraction-list {
  display: grid;
  gap: 1.25rem;

  > li {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;

    .visuals {
      min-block-size: 100%;
      block-size: 0;

      img {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;

        border-radius: 0.25rem;
      }
    }

    .writings {
      background-color: var(--color-surface-elevated);

      display: grid;
      grid-template-areas: "title info" "description info";
      grid-template-columns: 1fr auto;

      padding: 1.5rem;

      border-radius: 0.25rem;
      .title {
        font-size: var(--fz-600);
        font-weight: 700;

        grid-area: title;
      }

      .info {
        grid-area: info;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .rating {
        }

        .more-info-button {
          font-size: var(--fz-400);
        }
      }

      .description {
        font-size: var(--fz-400);
        font-weight: 300;
        line-height: 1.75rem;

        margin-block-start: 1rem;
        margin-inline-end: 0.5rem;

        grid-area: description;

      }
    }
  }
}
