.button {
  padding: 0.5rem;

  cursor: pointer;

  svg {
    block-size: 100%;
    inline-size: auto;
  }
  transition: 0.2s;

  &.solid {
    background-color: var(--color--gold-yellow);

    border: none;

    &:hover,
    &:focus {
      background-color: var(--color--gold-yellow-hover);
    }
  }

  &.otlined {
    background-color: var(--color--surface);

    border: 1px solid var(--color--gold-yellow);

    &:hover,
    &:focus {
      background-color: var(--color--gold-yellow-fade);
    }
  }

  &.ghost {
    background-color: transparent;

    border: none;
  }

  &.small {
    block-size: 2rem;
  }

  &.medium {
    block-size: 2.25rem;
  }

  &.large {
    block-size: 3rem;
  }

  &.rectangel {
    &.medium {
      padding-inline: 0.5rem;
    }

    &.large {
      padding-inline: 0.75rem;
    }
  }

  &.rectangel {
    border-radius: 0.25rem;
  }

  &.square {
    border-radius: 0.25rem;

    aspect-ratio: 1/1;
  }

  &.circle {
    border-radius: 999rem;
  }

  &.danger {
    color: var(--color--danger);
  }

  &.golden {
    color: var(--color--gold-yellow);
  }
}
